<!DOCTYPE html>
<html>

<head>
    <title>Main</title>
    <base href=".">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://rawgit.com/Semantic-Org/Semantic-UI/next/dist/semantic.css">
    <link rel="stylesheet" href="/css/style.css" </head>

</head>

<!-- 3. Display the application -->

<body>

    <div class="ui inverted menu">
        <div class="ui container">
            <h2 class="ui header"><a href="/" class="header item">
                URJC Review's App
            </a></h2>
        </div>
    </div>

    <div class="ui main text container">
